In [1]:
#import matplotlib.pyplot as plt
import numpy as np
import scipy as cp
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [1]:
df = pd.read_csv("projects/Project/Data/data.csv", na_values=['?', "undefined"])
display(df)

df.info()
df.describe()

NameError: name 'pd' is not defined

In [ ]:

df["bmi"] = round(df["mass"]/(df["length"]/100)**2, 2)

for x in df.index:
  if df.loc[x, "lifespan"] < 0:
    df.drop(x, inplace = True)

df["lifespan"]>1
df.describe()

duplicate_rows_df = df[df.duplicated()]
print("number of duplicate rows: ", duplicate_rows_df.shape)
df = df.drop_duplicates()

print(df.isnull().sum())
df = df.dropna()
df.head()

number of duplicate rows:  (0, 9)
genetic     1
length      3
mass        2
exercise    1
smoking     0
alcohol     2
sugar       1
lifespan    0
bmi         5
dtype: int64

   genetic  length   mass  exercise  smoking  alcohol  sugar  lifespan    bmi
0     73.9   185.0   99.7       0.9      0.0      2.4    6.9      73.1  29.13
1     86.0   172.0  105.4       1.8      8.1      0.4    4.2      85.0  35.63
2     83.3   176.0  111.4       1.1      0.8      4.6    7.5      81.6  35.96
3     82.8   164.0  111.4       4.7     11.8      1.0    2.9      81.0  41.42
4     78.7   178.0   71.6       1.5      8.3      4.9    5.5      75.0  22.60

In [ ]:
df = df.drop(['length', 'mass'], axis=1)
df.head()

   genetic  exercise  smoking  alcohol  sugar  lifespan    bmi
0     73.9       0.9      0.0      2.4    6.9      73.1  29.13
1     86.0       1.8      8.1      0.4    4.2      85.0  35.63
2     83.3       1.1      0.8      4.6    7.5      81.6  35.96
3     82.8       4.7     11.8      1.0    2.9      81.0  41.42
4     78.7       1.5      8.3      4.9    5.5      75.0  22.60

In [ ]:
Q1 = df.quantile(0.25)
Q3 = df.quantile(0.75)
IQR = Q3 - Q1
print(Q1)
print()
print(Q3)
print()
print(IQR)
df = df[~((df < (Q1 - 1.5 * IQR)) |(df > (Q3 + 1.5 * IQR))).any(axis=1)]

genetic     77.6000
exercise     1.5000
smoking      3.3750
alcohol      0.6000
sugar        4.4000
lifespan    75.0000
bmi         20.9375
Name: 0.25, dtype: float64

genetic     86.7000
exercise     3.2000
smoking     15.9000
alcohol      4.0000
sugar        8.4000
lifespan    85.2000
bmi         33.2075
Name: 0.75, dtype: float64

genetic      9.100
exercise     1.700
smoking     12.525
alcohol      3.400
sugar        4.000
lifespan    10.200
bmi         12.270
dtype: float64

In [ ]:
X = df[['smoking', 'bmi', 'genetic', "exercise", "alcohol", "sugar" ]]
y = df['lifespan']

In [ ]:
X_train, X_test, y_train, y_test = train_test_split (X,y, random_state = 42)

In [ ]:
regr = LinearRegression()
regr.fit(X_train, y_train)

y_train_pred = regr.predict(X_train)
y_test_pred = regr.predict(X_test)

In [ ]:
regr.score(X_test, y_test)

0.9806055320617403

In [ ]:
from sklearn.metrics import mean_absolute_error
mar_train = mean_absolute_error(y_train, y_train_pred)
print(mar_train)
mar_test = mean_absolute_error(y_test, y_test_pred)
print(mar_test)

0.7986478219684219
0.7798860317740618

In [ ]:
lifespan = regr.predict([[0, 20, 90, 2, 0, 0]])
print(lifespan)

[91.64226847]

C:\Users\31623\MakeAIWorkGab\env\lib\site-packages\sklearn\base.py:420: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

In [ ]:
import pickle

with open("regr", "wb") as f:
    pickle.dump(regr, f)

In [ ]:
#Load:

with open("regr", "rb") as f:
    model = pickle.load(f)

In [ ]:
#To save your model in dump is used where 'wb' means write binary.

pickle.dump(regr, open("lifespan.pickle", 'wb')) #Saving the model

#To load the saved model wherever need load is used where 'rb' means read binary.

In [ ]:
model = pickle.load(open("projects/project/model/lifespan.pickle", 'rb')) #To load saved model from local directory

In [ ]:
regr.coef_

array([-0.26397382, -0.06326914,  1.00085896,  0.80529466, -0.21647424,
       -0.07260688])