# Referenties

Altijd beginnen met 'getting started':

https://pandas.pydata.org/docs/getting_started/index.html#getting-started

Dan een snel overzicht:

https://pandas.pydata.org/docs/user_guide/10min.html

Daarna kijken naar de API beschrijving:

https://pandas.pydata.org/docs/reference/index.html

# Installatie

Run `pip3 install pandas` in the terminal to install the Pandas library.

# Imports

In [2]:
import pandas as pd

import matplotlib.pyplot as plt

# Schetsen

In [7]:
# Dataframe maken
df = pd.DataFrame(
    {
        "Name": [
            "Braund, Mr. Owen Harris",
            "Allen, Mr. William Henry",
            "Bonnell, Miss. Elizabeth",
        ],
        "Age": [
            22,
            35,
            58
        ],
        "Sex": [
            "male",
            "male",
            "female"
        ],
    }
)
#index = ["a',"b"]
# Standaard print
# ...
print(df)

# Vergelijk met
# ...
df
display(df)

                       Name  Age     Sex
0   Braund, Mr. Owen Harris   22    male
1  Allen, Mr. William Henry   35    male
2  Bonnell, Miss. Elizabeth   58  female

                       Name  Age     Sex
0   Braund, Mr. Owen Harris   22    male
1  Allen, Mr. William Henry   35    male
2  Bonnell, Miss. Elizabeth   58  female

In [21]:
# Data opslaan
# ...als csv of html website, excel
df.to_csv("./output/persona.csv", header=True, index=False)

In [41]:
# Data inlezen
# ...
df_saved = pd.read_csv("./output/persona.csv")
display(df_saved)

                       Name  Age     Sex
0   Braund, Mr. Owen Harris   22    male
1  Allen, Mr. William Henry   35    male
2  Bonnell, Miss. Elizabeth   58  female

In [34]:
# De kolomnaam
# ...
#df.columns[1]
#df ["Age"] voorkeur is ivm lijst andere is harde
age = 'Age'
#df(age)
#display(df.Age) harde taal
#type(df["Age"]) = series

TypeError: 'DataFrame' object is not callable

In [43]:
# Een kolom lezen
# ...
#df.pop("Age") krijgt terug als resultaat
#display(df_saved)
display("Age")
display(df)

'Age'

                       Name     Sex
0   Braund, Mr. Owen Harris    male
1  Allen, Mr. William Henry    male
2  Bonnell, Miss. Elizabeth  female

In [45]:
# Een kolom verwijderen
# ...
df_copy = df.copy()
#display(col) 

#df.pop= ('Age')

NameError: name 'col' is not defined

In [50]:
# als escape toets dan sneltoetsen
df_copy = df.copy
df_copy.drop('Age', axis=1)
display(df_copy)

AttributeError: 'function' object has no attribute 'drop'

In [53]:
# Een rij lezen, ook evt. voor column
# ...loc met string/label, iloc met getal/index handiger voor loop, als string getal werkt het toevallig wel
df.loc[0]
df.iloc[0,1]#=cel: eerst rij/loc dan colomn/serie = cel kan ook: [0] ["Age"] [0,"Age"] werkt niet

'male'

In [55]:
# Functie getRow() maken
# ...
def getRow(dataframe,index):
    return df.iloc[index]
getRow(df,2)

Name    Bonnell, Miss. Elizabeth
Sex                       female
Name: 2, dtype: object

In [59]:
# Een rij toevoegen is niet makkelijk, niet de bedoeling;alleen opschonen en samenvoegen
# ...
df_copy = df.copy()
#df_copy.add([" Ruud", 44, "male], axis=)# is optellen

3#df_copy.loc[3]= [" Ruud", 44, "male] werkt, iloc niet
#concat
df.concat

display(df_copy)

SyntaxError: unterminated string literal (detected at line 6) (1124228417.py, line 6)

In [133]:
# Functie insertAt(row, index)
# ...

In [134]:
# Verkennen
# ...

In [135]:
# Filteren
# ...

In [136]:
# Groeperen
# ...

In [137]:
# Extra: toepassing OOP en het bouwen van je eigen library
# ...