<a href="https://it-omscholing.nl/locaties/hogeschool-rotterdam/">
<div>
<a><img src='../pics/banner.PNG'/></a>
</div>
<div>
<a href=''><img src='../pics/miw.PNG'/></a>
<em>Author: Jeroen Boogaard</em>
</div>
</a>

<h1>Samengestelde variabelen - lists</h1>

<h3>List variabelen aanmaken en afdrukken</h3>

**Gebruik teksthaken [] voor het aanmaken van een list variabele**

In [17]:
neptuneInnerMoons = ["Naiad", "Thalassa", "Despina", "Galatea", "Proteus", "Hippocamp", "Larissa".lower ()]
neptuneOutermoons = ["Triton", "Halimede", "Sao", "Psamathe", "Laomedeia", "Neso", "Nereid"]
len(neptuneOutermoons) == len(neptuneInnerMoons)

True

<h3>Exercise 9</h3>
<p>Schrijf een statement om te bewijzen dat Neptunus evenveel binnen- als buitenmanen heeft</p>

In [ ]:
# Oplossing
len(n

**Gebruik index 0 voor het verkrijgen van het eerste element**

In [5]:
print("%s is the largest moon of Neptune." %(neptuneOutermoons[0]))

Triton is the largest moon of Neptune.

**Met <i>sort()</i> wordt de volgorde van de elementen in een list <u>blijvend veranderd</u>.**

In [6]:
neptuneOutermoons.sort()
print("%s is the largest moon of Neptune." %(neptuneOutermoons[0]))

Halimede is the largest moon of Neptune.

**Gebruik de functie len() voor het verkrijgen van het aantal elementen in een list**

In [7]:
print(f"Neptune is the farthest planet of our solar system and it has { len(neptuneInnerMoons) + len(neptuneOutermoons) } known moons.")

Neptune is the farthest planet of our solar system and it has 14 known moons.

<h3>Elementen toevoegen</h3>

In [13]:
neptuneMoons = []

for neptuneOuterMoon.lower in neptuneOutermoons.lower:
    neptuneMoons.append(neptuneOuterMoon)
    
for neptuneInnerMoon in neptuneInnerMoons:
    neptuneMoons.append(neptuneInnerMoon)

neptuneMoons.sort()    
    
print(neptuneMoons)

AttributeError: 'list' object has no attribute 'lower'

<h3>Elementen verwijderen</h3>

In [10]:
neptuneMoons.remove('Naiad')
print(neptuneMoons)

['Despina', 'Galatea', 'Halimede', 'Hippocamp', 'Laomedeia', 'Larissa', 'Nereid', 'Neso', 'Proteus', 'Psamathe', 'Sao', 'Thalassa', 'Triton']

**Gebruik <i>pop()</i> om het laaste element <u>uit</u> de lijst te halen**

In [11]:
firstNeptuneMoon = neptuneMoons.pop()
print(f"Popped {firstNeptuneMoon} from neptuneMoons")
print(f"{neptuneMoons}")

Popped Triton from neptuneMoons
['Despina', 'Galatea', 'Halimede', 'Hippocamp', 'Laomedeia', 'Larissa', 'Nereid', 'Neso', 'Proteus', 'Psamathe', 'Sao', 'Thalassa']

<h3>Excercise 10</h3>
<p>Maak een nieuwe lijst <i>lowerMoons</i> met alle <u>neptuneMoons</u> in <u>lowercase</u>.

<h3>Map en join</h3>

In [25]:
print(neptuneInnerMoons)
iterator = map(lambda moon: moon.lower(), neptuneInnerMoons)
list(iterator)

['Naiad', 'Thalassa', 'Despina', 'Galatea', 'Proteus', 'Hippocamp', 'larissa']

['naiad', 'thalassa', 'despina', 'galatea', 'proteus', 'hippocamp', 'larissa']

In [26]:
emptyList = []
for moon in neptuneInnerMoons:
    emptyList.append(moon.lower())
emptyList

['naiad', 'thalassa', 'despina', 'galatea', 'proteus', 'hippocamp', 'larissa']

In [32]:
", ".join(map(str,sorted(neptuneInnerMoons)))

'Despina, Galatea, Hippocamp, Naiad, Proteus, Thalassa, larissa'

In [27]:
print(neptuneInnerMoons)
neptuneInnerMoonsStr = ", ".join(map(str,sorted(neptuneInnerMoons))) 
print( f"In order of increasing distance, the list of { len(neptuneInnerMoons) } regular Neptune moons is {neptuneInnerMoonsStr}." )

['Naiad', 'Thalassa', 'Despina', 'Galatea', 'Proteus', 'Hippocamp', 'larissa']
In order of increasing distance, the list of 7 regular Neptune moons is Despina, Galatea, Hippocamp, Naiad, Proteus, Thalassa, larissa.